<a class="index" href="javascript:void()">Back to All Boards</a><br>
<%= board.escape('title') %>
<p>Add A List:</p><br>
<form class="new-list">
  <input class="to-clear" type="text" name="title">
  <input type="submit" value="Create">
</form>
<ul></ul>
