.board-index-item {
  float: left;
  width: 300px;
  height: 100px;
  padding-bottom: 70px;
  text-align: left;
  background: #0e74af;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  margin: 10px;
}

.add-board {
  float: left;
  width: 300px;
  height: 100px;
  background: #d6dadc;
  color: #8c8c8c;
  font-weight: 400px;
  border-radius: 5px;
  margin: 10px;
}

.list-index-item {
  float: left;
  width: 200px;
  padding-bottom: 70px;
  text-align: left;
  background: #0e74af;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  margin: 10px;
}

.add-list {
  float: left;
  width: 200px;
  background: #d6dadc;
  color: #8c8c8c;
  font-weight: 400px;
  border-radius: 5px;
  margin: 10px;
}

.add-card {
  width: 100%;
}

.adding-card {
  color: black;
}
